# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven
      - name: Build with Maven without tests
        run: ./mvnw -B clean package --file pom.xml -DskipTests

      - name: Run tests with Maven
        run: ./mvnw test

      - name: Check Javadoc warnings
        run: ./mvnw javadoc:javadoc

  docker_push:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          registry: docker.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PAT_DOCKER_HUB }}
      - name: Build, tag and push Docker image
        run: |
          docker build -t docker.io/kflandry/tp-cd-2025:latest .
          docker tag docker.io/kflandry/tp-cd-2025:latest docker.io/kflandry/tp-cd-2025:$GITHUB_SHA
          docker push docker.io/kflandry/tp-cd-2025:latest
          docker push docker.io/kflandry/tp-cd-2025:$GITHUB_SHA

  push_docs:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          publish-dir: "./dist"
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: false
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1

  deploy:
    runs-on: ubuntu-latest
    needs: docker_push
    permissions:
      deployments: write
    steps:
      - uses: JorgeLNJunior/render-deploy@v1.4.6
        with:
          service_id: ${{ secrets.RENDER_SERVICE_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          clear_cache: true # Optional: Clear Render's build cache
          wait_deploy: true
          github_deployment: true
          deployment_environment: "production"
          github_token: ${{ secrets.GITHUB_TOKEN }}
